@font-face {
    font-family: 'Gotham';
    src: url(../fonts/Gotham-Medium.otf) format("truetype"),
    url(../fonts/GOTHAM-MEDIUM.TTF);
    font-weight: 600;
}

@font-face {
    font-family: 'Gotham';
    src: url(../fonts/Gotham-Book.otf) format("truetype"),
    url(../fonts/GOTHAM-BOOK.TTF);
    font-weight: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url(../fonts/Gotham-Thin.otf) format("truetype"),
        url(../fonts/GOTHAM-THIN.TTF);
    font-weight: 300;
}