.header{
    background: transparent;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.headerVideo{
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -1;
    background: url(../img/header.jpg) no-repeat;
    background-size: cover;
}

.overlay{
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
    background: rgba(0,0,0,0.5);
}

.logoContainer{
    max-width: 15%;
    overflow: hidden;
}

.logo{
    max-width: 100%;
}

.navbar{
    position: absolute;
    width: 100%;
    // background: rgba(0,0,0,0.3);
    // @include box-shadow( 0 0 13px rgba(0,0,0,0.075));

    &.fixed{
        background: rgba(37, 38, 38, 0.95);
        position: fixed;
        top: -20%;
        left: 0;right: 0;
        font-size: 14px;
        z-index: 999;
        transition: top 0.26s ease;

        &.--sticky{
            top: 0;
        }
        

        .navBarContainer{
            padding: 1em 2em;
        }

        .button{
            padding: 0.5em 1em;
        }

    }

}

.navBarContainer{
    padding: 1em 0;
    display : flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inline-list{
    li{
        display: inline-block;
        
    }
}

.menulink{
    text-decoration : none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    margin-left: 1.5em;

    &:hover{
        text-decoration: underline
    }
}

.edito{
    width: 100%;
    text-align: center;
    z-index: 2;

    p{
        font-size: 30px;
        color: #fff;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) !important;
        
    }
}

.searchContainer{
    height: 100%;
    display : flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conceptContainer, .offersContainer{
    display : flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.searchbarItemsContainer{
    display : flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: rgba(255,255,255,1);
    border: 2px solid $orange;
    overflow: hidden;
    width: 70%;
    height: 50px;
    margin: 2em auto;
    @include border-radius(50px); 
    box-shadow: 20px 30px 70px rgba(0, 0, 0, 0.5);
    
}

.searchbar{
    width: 90%;
    font-size: 16px;
    height: 100%;
    border:none;
    color: lighten($noir,20%);
    font-weight: 300;
    background: transparent;
    padding: 0 1.5em;
    @include transition(0.26s ease);

    &:focus{
        color: $noir;
        border:none;
    }
}

.searchButton{
    width: 10%;
    height: 100%;
    background: transparent;
    border:none;
    color : $orange;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon{
        width: 2.5em;
        height: 2.5em;
    }

    &:hover{
        cursor: pointer;
    }
}