@import "compass";
@import "compass/reset";
@import "font_face";
@import "variables";
* {
    box-sizing: border-box;
}

body {
    background: $blanc_bg;
    color: $noir;
    line-height: 1.4;
    font-family: 'Gotham', sans-serif;
}

.toShow {
    opacity: 0;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-quotes-left {
    top: -85%;
    left: -5%;
    width: 200px;
    height: 200px;
    position: absolute;
    color: lighten($orange, 35%);
    z-index: -1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
    z-index: 5;
}

.sectionTitle {
    text-align: center;
    font-weight: normal;
    font-size: 32px;
    margin-top: -1em;
    margin-bottom: 2em;
    position: relative;
    &.showed {
        animation: showing 0.26s ease forwards;
    }
}

@import "header";
.concept,
.offers,
.testimonials,
.models,
.sponsors {
    padding: 8em 0;
    background: $blanc_bg;
}

.testimonials {
    background: $orange_clair;
    overflow: hidden;
}

.orangeText {
    color: $orange;
    font-weight: 600;
}

.boldText {
    color: #000000;
    font-weight: 600;
}

.boldDot {
    color: #FF6100;
    font-weight: 900;
    font-size: 30px;
}

// .concept{
//     position: relative;
//     &:before{
//         content: "";
//         background: #fff;
//         position: absolute;
//         top: 0;bottom: 0;right: 0;left: 0;
//         z-index: 1;
//         @include transform-origin(0, 0);
//         transform: skewY(-2deg);
//     }
//     &:after{
//         content: "";
//         background: #fff;
//         position: absolute;
//         top: 0;bottom: 100%;right: 0;left: 0;
//         z-index: 1;
//         @include transform-origin(0, 0);
//         transform: skewY(2deg);
//     }
// }
.conceptItem {
    text-align: center;
}

.conceptItem,
.offersItemContainer {
    width: 33.333%;
    padding: 0 20px;
    position: relative;
    &.showed {
        animation: showing 0.5s ease forwards;
    }
}

.offersItemContainer {
    &:nth-child(1).showed {
        animation: showing 0.26s ease 0.2s forwards !important;
    }
    &:nth-child(2).showed {
        animation: showing 0.26s ease 0.3s forwards !important;
    }
    &:nth-child(3).showed {
        animation: showing 0.26s ease 0.4s forwards !important;
    }
}

.map {
    position: relative;
    max-width: 100%;
    padding: 10em 3em;
    background: $noir url(../img/map.jpg) center center no-repeat;
    background-size: cover;
    .sectionTitle {
        // color: #ffffff;
        margin: 0;
        position: relative;
        z-index: 2;
        text-shadow: 0 19px 38px rgba(0, 0, 0, 0.075), 0 15px 12px rgba(0, 0, 0, 0.075);
    }
    .overlay {
        background: rgba(255, 255, 255, 0.8);
    }
}

.user {
    background: #931621;
}

.conceptImage {
    max-width: 100%;
    height: 100px; // border-radius: 50%;
    // box-shadow: 0 19px 38px rgba(0,0,0,0.075), 0 15px 12px rgba(0,0,0,0.075);    
}

.offersItem {
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #fff;
    border: 2px solid $orange;        
    text-decoration: none;
    color: $noir;
    display: block;
    transition: 0.26s ease;

    &:hover{
        box-shadow: 0 19px 38px rgba(0,0,0,0.075), 0 15px 12px rgba(0,0,0,0.075);
    }
    
    .miniTitle {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 30px;
        padding: 0.5em;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 1.5em;
            width: 30%;
            height: 7px;
            background: $orange;
        }
    }
    .resume,
    .offersPrice {
        padding: 2.188em 3em;
        font-size: 16px;
    }
    .resume {
        margin-bottom: 7em;
    }
    .offersPrice {
        position: absolute;
        bottom: 0;
        padding-top: 0;
        padding-bottom: 1.5em;
    }
    .bigPrice {
        font-size: 40px;
        display: inline;
    }
}

// .offersItemContainer{
//     &:nth-child(1) .offersItem::before{
//         content: "";
//         background: url(../img/icons/Newbie.png) right center no-repeat;
//         background-size: contain;
//         position: absolute;
//         right: 0;bottom: -20%;top: 30%;left: 0;
//         z-index: 1;
//         opacity: 0.075;
//     }
//     &:nth-child(2) .offersItem::before{
//         content: "";
//         background: url(../img/icons/Casual.png) right center no-repeat;
//         background-size: contain;
//         position: absolute;
//         right: 0;bottom: -20%;top: 30%;left: 0;
//         z-index: 1;
//         opacity: 0.075;
//     }
//     &:nth-child(3) .offersItem::before{
//         content: "";
//         background: url(../img/icons/Pro.png) right center no-repeat;
//         background-size: contain;
//         position: absolute;
//         right: 0;bottom: -20%;top: 30%;left: 0;
//         z-index: 1;
//         opacity: 0.075;
//     }
// }
.offersTitle {
    font-weight: 400;
    font-size: 36px;
    z-index: 2;
    position: relative;
}

.offersPrice {
    font-size: 26px; // color: $orange;
    font-weight: 600;
    margin: 1em 0;
    z-index: 2;
    position: relative;
    span {
        margin: 0.5em 0;
        display: block;
        font-size: 16px;
        color: $noir;
        text-transform: uppercase;
    }
}

.miniTitle {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin: 1em 0;
}

.conceptText {
    text-align: center;
    font-weight: normal;
    color: $noir;
}

.button {
    display: block;
    padding: 0.5em 1.5em !important;
    background: transparent;
    color: $orange;
    text-decoration: none;
    border: 2px solid $orange;
    @include border-radius(50px); // box-shadow: 0 4px 13px 0 rgba(31,53,70,.08),0 2px 4px 0 rgba(31,53,70,.08);
    @include transition(background 0.26s ease);
    z-index: 3;
    &:before {
        opacity: 0;
    }
    &:hover {
        text-decoration: none !important;
        background: $orange;
        color: #ffffff !important;
        &:before {
            opacity: 0;
        }
    }
    &:before {
        opacity: 0;
    }
}

.link {
    color: $orange;
    text-decoration: none;
}

.modelsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.modelsLongboard {
    width: 33.3333%;
    height: 250px;
    text-align: center;
    padding: 0.875em;
    position: relative;
    opacity: 0;
    top: 0;
    &.showed {
        animation: showing 0.26s ease forwards !important;
    }
    .miniTitle {
        color: #ffffff;
        padding: 0.5em;
        position: relative;
        letter-spacing: 2px;
        font-size: 25px;
        text-transform: uppercase;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 30%;
            height: 7px;
            background: $orange;
        }
    }
    .overlay {
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 2;
        opacity: 0;
        transition: 0.26s ease;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    &:hover .overlay {
        opacity: 1;
    }
    &:hover .modelsImg {
        transform: translateZ(100px);
        transition: 10s linear;
    }
}

.modelsInfo ul {
    margin-bottom: 2em;
}

.imgContainer {
    border: 2px solid $orange;
    overflow: hidden;
    perspective: 200px;
    height: 100%;
    width: 100%; // box-shadow: 0 19px 38px rgba(0,0,0,0.075), 0 15px 12px rgba(0,0,0,0.075);        
}

.modelsImg {
    object-fit: cover;
    max-width: 100%; // height: 100%;
    transform: translateZ(0);
    transition: 1s linear;
    position: relative;
    z-index: 1;
}

.testimonialsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 200%;
    transform: translateX(0px);
    transition: 0.5s ease;
}

.testimonialsItem {
    width: 50%;
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.testimonialsImgContainer {
    width: 50px;
    height: 50px;
    margin-left: 4em;
    margin-right: 1em;
    @include border-radius(50%);
    overflow: hidden; // box-shadow: 0 19px 38px rgba(0,0,0,0.075), 0 15px 12px rgba(0,0,0,0.075);        
}

.testimonialsImg {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonialInfo {
    width: 50%;
    padding: 2em 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.testimonialsText {
    width: 50%; // text-shadow: 0 19px 38px rgba(0,0,0,0.075), 0 15px 12px rgba(0,0,0,0.075);            
    position: relative;
    z-index: 2;
    background: $orange;
    color: #fff;
    padding: 1em; // border-radius: 5px;
    &:after {
        content: "";
        background: $orange;
        width: 20px;
        height: 20px;
        position: absolute;
        bottom: -10px;
        left: calc(50% - 10px);
        transform: rotateZ(45deg);
    }
}

.nameUser {
    font-weight: 600;
    position: relative;
    z-index: 3; // text-shadow: 0 19px 38px rgba(0,0,0,0.075), 0 15px 12px rgba(0,0,0,0.075);            
}

.infoText {
    width: 50%;
}

.mobile {
    overflow: hidden;
    padding-top: 5em;
    background: $blanc_bg;
}

.storeButtonContainer {
    display: flex;
    flex-flow: colum wrap;
    justify-content: center;
    align-items: center;
}

.storeButtonLink {
    display: inline-block;
    margin: 0 1em;
}

.storeButton {
    width: 150px;
}

.mobileContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.mobileImageContainer {
    max-width: 100%;
    padding-top: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
}

.mobileImage {
    max-width: 30%;
    position: relative;

    
    &:nth-child(1) {
        bottom: 0;
        right: -10%;

        &.showed{
            @include animation(showingReverse 0.26s ease 0.0s forwards !important);            
        }
    }
    &:nth-child(2) {
        bottom: 0;
        z-index: 3;

        &.showed{
            @include animation(showingReverse 0.26s ease 0.1s forwards !important);            
        }
    }
    &:nth-child(3) {
        bottom: 0;
        left: -10%;

        &.showed{
            @include animation(showingReverse 0.26s ease 0.2s forwards !important);            
        }
    }
}

.sponsors {
    background: $blanc_bg;
    .sectionTitle {
        opacity: 1;
    }
}

.sponsorsContainer {
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em;
}

.sponsorsImageContainer {
    height: 70px;
    max-width: 30%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.sponsorsImage {
    max-width: 100%;
}

.footer {
    background: #252626;
    color: #fff;
    padding-top: 1em;
    font-size: 13px;
}

.footerContainer {
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em;
}

.apropos {
    width: 40%;
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 1em;
    margin-right: 5em;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;

    &:hover{
        text-decoration: underline;
    }
}

.footer .subTitle {
    text-align: left;
    margin-bottom: 1em;
    font-size: 13px;
}

.footerNav {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.footerHelp {
    width: 25%;
}

.footerContact {
    width: 25%;
}

.contactItems {
    font-weight: 300;
}

.copyrightContainer {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

@keyframes navbar {
    0% {
        top: -10%;
    }
    100% {
        top: 0;
    }
}

@keyframes navbarReverse {
    0% {
        top: 0;
    }
    100% {
        top: -10%;
    }
}

@keyframes showing {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes showingReverse {
    0% {
        transform: translateY(300px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes showingReverse {
    0% {
        transform: translateY(300px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@import "responsive";