html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'Gotham';
  src: url(../fonts/Gotham-Medium.otf) format("truetype"), url(../fonts/GOTHAM-MEDIUM.TTF);
  font-weight: 600; }
@font-face {
  font-family: 'Gotham';
  src: url(../fonts/Gotham-Book.otf) format("truetype"), url(../fonts/GOTHAM-BOOK.TTF);
  font-weight: normal; }
@font-face {
  font-family: 'Gotham';
  src: url(../fonts/Gotham-Thin.otf) format("truetype"), url(../fonts/GOTHAM-THIN.TTF);
  font-weight: 300; }
@font-face {
  font-family: 'Gotham';
  src: url(../fonts/Gotham-Ultra.otf) format("truetype"), url(../fonts/GOTHAM-ULTRA.TTF);
  font-weight: 900; }
* {
  box-sizing: border-box; }

body {
  background: #FFFDFC;
  color: #252626;
  line-height: 1.4;
  font-family: 'Gotham', sans-serif; }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor; }

.icon-quotes-left {
  top: -85%;
  left: -5%;
  width: 200px;
  height: 200px;
  position: absolute;
  color: #ffd2b3;
  z-index: -1; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
  z-index: 5; }

.sectionTitle {
  text-align: center;
  font-weight: normal;
  font-size: 32px;
  margin-top: -1em;
  margin-bottom: 2em;
  position: relative;
  opacity: 0;
  top: 0; }
.sectionTitle.showed {
  animation: showing 0.26s ease forwards; }

.header {
  background: transparent;
  height: 100vh;
  position: relative;
  overflow: hidden; }

.headerVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  background: url(../img/header.jpg) no-repeat;
  background-size: cover; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5); }

.logoContainer {
  max-width: 15%;
  overflow: hidden; }

.logo {
  max-width: 100%; }

.navbar {
  position: absolute;
  width: 100%; }
.navbar.fixed {
  background: rgba(37, 38, 38, 0.95);
  position: fixed;
  top: -20%;
  left: 0;
  right: 0;
  font-size: 14px;
  z-index: 999;
  transition: top 0.26s ease; }
.navbar.fixed.--sticky {
  top: 0; }
.navbar.fixed .navBarContainer {
  padding: 1em 2em; }
.navbar.fixed .button {
  padding: 0.5em 1em; }

.navBarContainer {
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.inline-list li {
  display: inline-block; }

.menulink {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  margin-left: 1.5em; }
.menulink:hover {
  text-decoration: underline; }

.edito {
  width: 100%;
  text-align: center;
  z-index: 2; }
.edito p {
  font-size: 30px;
  color: #fff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) !important; }

.searchContainer {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.conceptContainer, .offersContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }

.searchbarItemsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: white;
  border: 2px solid #ff6a00;
  overflow: hidden;
  width: 70%;
  height: 50px;
  margin: 2em auto;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  box-shadow: 20px 30px 70px rgba(0, 0, 0, 0.5); }

.searchbar {
  width: 90%;
  font-size: 16px;
  height: 100%;
  border: none;
  color: #575a5a;
  font-weight: 300;
  background: transparent;
  padding: 0 1.5em;
  -moz-transition: ease 0.26s;
  -o-transition: ease 0.26s;
  -webkit-transition: ease 0.26s;
  transition: ease 0.26s; }
.searchbar:focus {
  color: #252626;
  outline: none; }

.searchButton {
  width: 10%;
  height: 100%;
  background: transparent;
  border: none;
  color: #ff6a00;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
.searchButton .icon {
  width: 2.5em;
  height: 2.5em; }
.searchButton:hover {
  cursor: pointer; }

.concept, .offers, .testimonials, .models {
  padding: 8em 0;
  background: #FFFDFC; }

.testimonials {
  background: #FFF0E5;
  overflow: hidden; }

.orangeText {
  color: #ff6a00;
  font-weight: 600; }

.boldText {
  color: #000000;
  font-weight: 600; }

.boldDot {
  color: #FF6100;
  font-weight: 900;
  font-size: 30px; }

.conceptItem {
  text-align: center; }

.conceptItem, .offersItemContainer {
  width: 33.333%;
  padding: 0 20px;
  position: relative;
  opacity: 0;
  top: 0; }
.conceptItem.showed, .offersItemContainer.showed {
  animation: showing 0.5s ease forwards; }

.offersItemContainer:nth-child(1).showed {
  animation: showing 0.26s ease 0.2s forwards !important; }
.offersItemContainer:nth-child(2).showed {
  animation: showing 0.26s ease 0.3s forwards !important; }
.offersItemContainer:nth-child(3).showed {
  animation: showing 0.26s ease 0.4s forwards !important; }

.map {
  position: relative;
  max-width: 100%;
  padding: 10em 3em;
  background: #252626 url(../img/map.jpg) center center no-repeat;
  background-size: cover; }
.map .sectionTitle {
  margin: 0;
  position: relative;
  z-index: 2;
  text-shadow: 0 19px 38px rgba(0, 0, 0, 0.075), 0 15px 12px rgba(0, 0, 0, 0.075); }
.map .overlay {
  background: rgba(255, 255, 255, 0.8); }

.user {
  background: #931621; }

.conceptImage {
  max-width: 100%;
  height: 100px; }

.offersItem {
  height: 100%;
  overflow: hidden;
  position: relative;
  background: #fff;
  border: 2px solid #ff6a00; }
.offersItem .miniTitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 30px;
  padding: 0.5em;
  position: relative; }
.offersItem .miniTitle:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1.5em;
  width: 30%;
  height: 7px;
  background: #ff6a00; }
.offersItem .resume, .offersItem .offersPrice {
  padding: 2.188em 3em;
  font-size: 16px; }
.offersItem .resume {
  margin-bottom: 7em; }
.offersItem .offersPrice {
  position: absolute;
  bottom: 0;
  padding-top: 0;
  padding-bottom: 0.5em; }
.offersItem .bigPrice {
  font-size: 40px;
  display: inline; }

.offersTitle {
  font-weight: 400;
  font-size: 36px;
  z-index: 2;
  position: relative; }

.offersPrice {
  font-size: 26px;
  font-weight: 600;
  margin: 1em 0;
  z-index: 2;
  position: relative; }
.offersPrice span {
  margin: 0.5em 0;
  display: block;
  font-size: 16px;
  color: #252626;
  text-transform: uppercase; }

.miniTitle {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin: 1em 0; }

.conceptText {
  text-align: center;
  font-weight: normal;
  color: #252626; }

.button {
  display: block;
  padding: 0.5em 1.5em !important;
  background: transparent;
  color: #ff6a00;
  text-decoration: none;
  border: 2px solid #ff6a00;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-transition: background 0.26s ease;
  -o-transition: background 0.26s ease;
  -webkit-transition: background 0.26s ease;
  transition: background 0.26s ease;
  z-index: 3; }
.button:before {
  opacity: 0; }
.button:hover {
  text-decoration: none !important;
  background: #ff6a00;
  color: #ffffff !important; }
.button:hover:before {
  opacity: 0; }
.button:before {
  opacity: 0; }

.link {
  color: #ff6a00;
  text-decoration: none; }

.modelsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }

.modelsLongboard {
  width: 33.3333%;
  height: 250px;
  text-align: center;
  padding: 0.875em;
  position: relative;
  opacity: 0;
  top: 0; }
.modelsLongboard.showed {
  animation: showing 0.26s ease forwards !important; }
.modelsLongboard .miniTitle {
  color: #ffffff;
  padding: 0.5em;
  position: relative;
  letter-spacing: 2px;
  font-size: 25px; }
.modelsLongboard .miniTitle:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 7px;
  background: #ff6a00; }
.modelsLongboard .overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: 0.26s ease;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }
.modelsLongboard:hover .overlay {
  opacity: 1; }
.modelsLongboard:hover .modelsImg {
  transform: translateZ(100px);
  transition: 10s linear; }

.modelsInfo ul {
  margin-bottom: 2em; }

.imgContainer {
  border: 2px solid #ff6a00;
  overflow: hidden;
  perspective: 200px;
  height: 100%;
  width: 100%; }

.modelsImg {
  object-fit: cover;
  max-width: 100%;
  transform: translateZ(0);
  transition: 1s linear;
  position: relative;
  z-index: 1; }

.testimonialsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 200%; }

.testimonialsItem {
  width: 50%;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.testimonialsImgContainer {
  width: 50px;
  height: 50px;
  margin-left: 4em;
  margin-right: 1em;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden; }

.testimonialsImg {
  max-width: 100%;
  height: 100%;
  object-fit: cover; }

.testimonialInfo {
  width: 50%;
  padding: 2em 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center; }

.testimonialsText {
  width: 50%;
  position: relative;
  z-index: 2;
  background: #ff6a00;
  color: #fff;
  padding: 1em; }
.testimonialsText:after {
  content: "";
  background: #ff6a00;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 10px);
  transform: rotateZ(45deg); }

.nameUser {
  font-weight: 600;
  position: relative;
  z-index: 3; }

.infoText {
  width: 50%; }

.mobile {
  overflow: hidden;
  padding-top: 5em;
  background: #FFFDFC; }

.storeButtonContainer {
  display: flex;
  flex-flow: colum wrap;
  justify-content: center;
  align-items: center; }

.storeButtonLink {
  display: inline-block;
  margin: 0 1em; }

.storeButton {
  width: 150px; }

.mobileContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center; }

.mobileImageContainer {
  max-width: 100%;
  padding-top: 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline; }
.mobileImageContainer.showed .mobileImage:nth-child(1) {
  animation: showingReverse 0.26s ease 0.0s forwards !important; }
.mobileImageContainer.showed .mobileImage:nth-child(2) {
  animation: showingReverse 0.26s ease 0.1s forwards !important; }
.mobileImageContainer.showed .mobileImage:nth-child(3) {
  animation: showingReverse 0.26s ease 0.2s forwards !important; }

.mobileImage {
  max-width: 30%;
  position: relative;
  opacity: 0; }
.mobileImage:nth-child(1) {
  bottom: -100%;
  right: -10%; }
.mobileImage:nth-child(2) {
  bottom: -100%;
  z-index: 3; }
.mobileImage:nth-child(3) {
  bottom: -100%;
  left: -10%; }

.sponsors {
  background: #f7f7f7; }

.sponsorsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em; }

.sponsorsImageContainer {
  height: 70px;
  max-width: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }

.sponsorsImage {
  max-width: 100%;
  max-height: 100%; }

.footer {
  background: #252626;
  color: #fff;
  padding-top: 5em;
  font-size: 13px; }
.footer a {
  color: #ff6a00;
  text-decoration: none; }
.footer .miniTitle {
  text-align: left;
  margin-bottom: 1em; }

.footernav {
  width: 100%;
  display: flex;
  flex-flow: row wrap; }

.apropos {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 5em; }

.footerContainer {
  width: 100%;
  display: flex;
  flex-flow: column wrap; }

.footerBlock {
  width: 33.3333%; }

.bottomFooterContainer {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 1em; }

@keyframes navbar {
  0% {
    top: -10%; }
  100% {
    top: 0; } }
@keyframes navbarReverse {
  0% {
    top: 0; }
  100% {
    top: -10%; } }
@keyframes showing {
  0% {
    top: -20%;
    opacity: 0; }
  100% {
    top: 0;
    opacity: 1; } }
@keyframes showingReverse {
  0% {
    position: relative;
    bottom: -100%;
    opacity: 0; }
  100% {
    bottom: -10%;
    opacity: 1; } }
@media only screen and (max-width: 40em) {
  .inColumn {
    width: 100% !important;
    padding: 2em 0 !important; } }
