@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

* {
  box-sizing: border-box; }

body {
  background: #fff;
  color: #252626;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif; }

.logoContainer {
  max-width: 15%;
  overflow: hidden; }

.logo {
  max-width: 100%;
  height: 70px; }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor; }

.sectionTitle {
  text-align: center;
  font-weight: 300;
  font-size: 36px;
  margin-top: -1em;
  margin-bottom: 2em;
  position: relative;
  opacity: 0;
  top: 0; }
.sectionTitle.showed {
  animation: showing 0.26s ease forwards; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
  z-index: 5; }

.concept, .offers {
  padding: 8em 0; }

.header {
  background: #f2efea;
  height: 100vh;
  position: relative;
  overflow: hidden; }

.headerVideo {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5); }

.navbar {
  position: absolute;
  width: 100%; }
.navbar.fixed {
  background: rgba(37, 38, 38, 0.95);
  position: fixed;
  top: -20%;
  left: 0;
  right: 0;
  font-size: 14px;
  z-index: 999;
  transition: top 0.26s ease; }
.navbar.fixed.--sticky {
  top: 0; }
.navbar.fixed .navBarContainer {
  padding: 0; }
.navbar.fixed .button {
  padding: 0.5em 1em; }

.navBarContainer {
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.inline-list li {
  display: inline-block; }

.menulink {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  margin-left: 1.5em; }
.menulink:hover {
  text-decoration: underline; }

.edito {
  width: 100%;
  text-align: center;
  z-index: 2; }
.edito p {
  font-size: 30px;
  color: #fff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) !important; }

.orangeText {
  color: #ff6a00;
  font-weight: 600; }

.searchContainer {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.conceptContainer, .offersContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }

.searchbarItemsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: white;
  border: 2px solid #ff6a00;
  overflow: hidden;
  width: 70%;
  height: 50px;
  margin: 2em auto;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  box-shadow: 20px 30px 70px rgba(0, 0, 0, 0.5); }

.searchbar {
  width: 90%;
  font-size: 16px;
  height: 100%;
  border: none;
  color: #575a5a;
  font-weight: 300;
  background: transparent;
  padding: 0 1.5em;
  -moz-transition: ease 0.26s;
  -o-transition: ease 0.26s;
  -webkit-transition: ease 0.26s;
  transition: ease 0.26s; }
.searchbar:focus {
  color: #252626; }

.searchButton {
  width: 10%;
  height: 100%;
  background: transparent;
  border: none;
  color: #ff6a00;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
.searchButton .icon {
  width: 2.5em;
  height: 2.5em; }
.searchButton:hover {
  cursor: pointer; }

.conceptItem, .offersItemContainer {
  width: 33.333%;
  padding: 0 20px;
  text-align: center;
  position: relative;
  opacity: 0;
  top: 0; }
.conceptItem.showed, .offersItemContainer.showed {
  animation: showing 0.5s ease forwards; }

.offersItemContainer:nth-child(1).showed {
  animation: showing 0.26s ease 0.2s forwards !important; }
.offersItemContainer:nth-child(2).showed {
  animation: showing 0.26s ease 0.3s forwards !important; }
.offersItemContainer:nth-child(3).showed {
  animation: showing 0.26s ease 0.4s forwards !important; }

.map {
  position: relative;
  max-width: 100%;
  padding: 10em 3em;
  background: #252626 url(../img/map.jpg) center center no-repeat;
  background-size: cover; }
.map .sectionTitle {
  margin: 0;
  position: relative;
  z-index: 2;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3); }
.map .overlay {
  background: rgba(255, 255, 255, 0.8); }

.user {
  background: #931621; }

.conceptImage {
  max-width: 100%;
  height: 100px; }

.offers {
  background: #fff !important; }

.offersItem {
  overflow: hidden;
  position: relative;
  text-align: center;
  padding: 3em;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.offersTitle {
  font-weight: 400;
  font-size: 36px;
  z-index: 2;
  position: relative; }

.offersPrice {
  font-size: 26px;
  font-weight: 600;
  margin: 1em 0;
  z-index: 2;
  position: relative; }
.offersPrice span {
  margin: 0.5em 0;
  display: block;
  font-size: 16px;
  color: #252626;
  text-transform: uppercase; }

.miniTitle {
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  margin: 1em 0; }

.conceptText {
  text-align: center;
  color: #707474; }

.button {
  display: block;
  padding: 0.5em 1.5em;
  background: transparent;
  color: #ff6a00;
  text-decoration: none;
  border: 2px solid #ff6a00;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-transition: background 0.26s ease;
  -o-transition: background 0.26s ease;
  -webkit-transition: background 0.26s ease;
  transition: background 0.26s ease;
  z-index: 3; }
.button:hover {
  text-decoration: none !important;
  background: #ff6a00;
  color: #ffffff !important; }

.link {
  color: #ff6a00;
  text-decoration: none; }

.modelsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }

.modelsLongboard {
  width: 33.333%;
  min-height: 250px;
  text-align: center; }
.modelsLongboard .modelsImg {
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; }

.modelsLongboard:last-child .modelsImg {
  border-right: none; }

.modelsImg {
  object-fit: contain;
  max-width: 100%;
  height: auto; }

@keyframes navbar {
  0% {
    top: -10%; }
  100% {
    top: 0; } }
@keyframes navbarReverse {
  0% {
    top: 0; }
  100% {
    top: -10%; } }
@keyframes showing {
  0% {
    top: -20%;
    opacity: 0; }
  100% {
    top: 0;
    opacity: 1; } }
