@import "compass";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import "compass/reset";


$orange : #ff6a00;
$noir : #252626;

* {
    box-sizing: border-box;
}

body{
    background: #fff;
    color: $noir;
    font-family: 'Roboto', sans-serif;
}

.sectionTitle{
    text-align: center;
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 1.5em;
}

.container{
    max-width:960px;
    margin: 0 auto;
    padding: 0 5px;
}

.concept, .offers{
    padding: 5em 0;
}

.header{
    background: #f2efea url(../img/header.jpg) center center no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
}

.navbar{
    position: absolute;
    top: 0;
    width: 100%;
    background: #fff;
    @include box-shadow( 0 0 13px rgba(0,0,0,0.075));
}

.navBarContainer{
    padding: 1em 0;
    display : flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inline-list{
    li{
        display: inline-block;
        margin-left: 1em;

        a{
            text-decoration : none;
            color: $noir;

            &:hover{
                text-decoration: underline
            }
        }
    }
}

.edito{
    width: 100%;
    text-align: center;
    margin-top: 10%;

    p{
        font-size: 30px;
        color: #ffffff;
    }
    .orangeText{
        color : $orange;
    }
}

.searchContainer{
    height: 80vh;
    display : flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conceptContainer, .offersContainer{
    display : flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.searchbarItemsContainer{
    background: #fff;
    border: 2px solid $orange;
    overflow: hidden;
    width: 70%;
    height: 50px;
    margin: 2em auto;
    @include border-radius(50px);    
}

.searchbar{
    width: 80%;
    font-size: 16px;
    height: 100%;
    border:none;
    padding: 0 1.5em;
}

.searchButton{
    width: 20%;
    height: 100%;
    border:none;
    color : $orange;
    background: #fff;

    &:hover{
        cursor: pointer;
    }
}

.conceptItem, .offersItemContainer{
    width: 33.333%;
    padding: 0 10px;
}

.offersItem{
    padding : 3em;
    background: #fff;
    box-shadow: 20px 50px 70px rgba(0, 0, 0, 0.075);
}

.miniTitle{
    font-weight: 600;
    text-align: center;
    margin: 1em 0;
}

.conceptText{
    text-align: center;
}

.mapContainer{
    display : flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button{
    display: block;
    padding: 1em 2em;
    background: #ff6a00;
    color: #ffffff !important;
    text-decoration: none;
    @include border-radius(50px);
}

